body{
	margin: 0;
	overflow: hidden;
}


#canvas-bg{
	height: 100%;
	width: 100%;
	background-color: #000;
	width: 100%;
	height: 100%;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes objectMove {
    0% {  left: 0; }	
  100% { left: 100% }	
}

@keyframes objectMove {
    0% { left: 0; }	
  100% { left: 100%; }	
}

@-webkit-keyframes objectMoveOther {
    -20% {  left: -100%; }	
  100% { left: 100% }	
}

@keyframes objectMoveOther {
    -20% { left: -100%; }	
  100% { left: 100%; }	
}

#moon{
	position: absolute;
	z-index: 1;
	top: 10px;
	
	-webkit-animation: objectMove 40s linear infinite; 
    	animation: objectMove 40s linear  infinite;
}

#cloud1{
	position: absolute;
	z-index: 1;
	top: 50px;

	-webkit-animation: objectMove 30s linear infinite; 
    	animation: objectMove 30s linear infinite;

}

#cloud2{
	position: absolute;
	z-index: 1;
	top: 600px;
	left: -600px;

	-webkit-animation: objectMoveOther  30s linear infinite; 
    	animation: objectMoveOther  30s linear infinite;
    -webkit-animation-delay: 3s; /
    	animation-delay: 3s;
}

#cloud3{
	position: absolute;
	z-index: 1;
	top: 300px;
	left: -600px;

	-webkit-animation: objectMoveOther  30s linear infinite; 
    	animation: objectMoveOther  30s linear infinite;
    -webkit-animation-delay: 15s; 
    	animation-delay: 15s;
}